<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>DateOfBirth</th>
    <th colspan="2">Action</th>
  </tr>
  <tr *ngFor='let student of students'>
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.email}}</td>
    <td>{{student.subject}}</td>
    <td>{{student.dateOfBirth | date}}</td>
    <td><button routerLink='/students/{{student.id}}'>Edit</button></td>
    <td><button (click)='deleteStudent(student.id)'>Delete</button></td>
  </tr>
</table>
<hr>

