<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="msform">


        <fieldset>

            <h2 class="fs-title">Edit Student</h2>
            <div>

                <input type="number" placeholder="Enter Id" formControlName="id">
            </div>
            <div>

                <input type="text" placeholder="Enter name" formControlName="name" required>
            </div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 3 characters long.
                </div>

            </div>

            <div>

                <input type="text" placeholder="Enter Email" formControlName="email">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="email.errors.email">
                    Email Type not match.
                </div>

            </div>
            <div>

                <input type="text" placeholder="Enter Subject" formControlName="subject">
            </div>
            <div>

                <input type="date" placeholder="Enter Date" formControlName="dateOfBirth">
            </div>

            <input type="submit" [disabled]="!profileForm.valid" class="btn btn-success" />


        </fieldset>
    </form>


</div>